<!-- Keep this file for a backup -->

<form ng-submit="add()" ng-controller="PlannerCtrl" >
  <div>
    <div>
      <div>
        <input type="text" placeholder="Enter Exercise" ng-model="newExercise.name">
        <input type="text" placeholder="Enter Sets" ng-model="newExercise.sets">
        <input type="text" placeholder="Target Reps" ng-model="newExercise.reps">
        <input type="text" placeholder="Target Weight" ng-model="newExercise.targetWeight">

      </div>

    </div>

<div>
  <br>
  <button ng-click="add()" id="adder" type="button">Add workout</button>
</div>



    <!-- This is the input boxes for reps, sets, target weight, weight -->
    <br>
    <div ng-repeat="exercise in exercises track by $index">
      {{exercise.name}}
      <input id="numOfSets" placeholder="Number of Sets" ng-model="exercise.sets">
      </input>
      <input id="numOfReps" placeholder="Number of Reps" ng-model="exercise.reps" value = "20">
      </input>
      <input id="weightTarget" placeholder="Target Weight" ng-model="exercise.targetWeight">
      </input>
      <input id="weightActual" placeholder="Weight" ng-model="exercise.actualWeight">
      </input>

      {{exercise.reps}}
    </div>
  </div>
</form>


<div>
  <br>
  <!-- Add in ng-click to send post request -->
  <button type="button">Log This Workout!</button>
</div>
